.pd{
    padding-left: 1.0rem;
    padding-right: 1.0rem;
}
.card-text-muted{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: lighter;
}
.fancy-font{
    font-family: "Helvetica";
    text-align: center;
}

.stats-view{
    display: flex;
    flex-direction: column;
}