.pd{
    padding-left: 1.0rem;
    padding-right: 1.0rem;
}
.card-text-muted{
    font-weight: lighter;
}
.fancy-font{
    font-family: "Helvetica";
    text-align: center;
}

.stats-view{
    display: flex;
    flex-direction: column;
}
#stats-view{
    margin: 2rem 0rem;
}

.table td, .table th{
    padding: 0.3rem
}


/* .container > div {
    border: 1px solid orange;
} */